/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
	body {
		font-size: 2.6ex;
	}
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
	.meta {
		font-size: 1.5ex;
	}
	#keynav-left, #keynav-right {
		display: block;
	}
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {}