@font-face {
	font-family: 'Expressway Free';
	src: url('http://ff.static.1001fonts.net/e/x/expressway-free.regular.ttf');
}

* {
	font-family: 'Expressway Free', sans-serif;
}

body {
	padding: 40px 200px;
}

a {
	text-decoration: none;
	color: #D23C22;
}

li {
	line-height: 29pt;
}

a:hover {
	color: #A7301B;
}

img {
	max-width: 100%;
}

code {
	background-color: #f8f8f8;
	padding: 10px;
	outline: 1px solid #eaeaea;
}

.home {

}

.home a {
	text-decoration: none;
	color: #D23C22;
	font-weight: bold;
	font-size: 2.4em;
	margin: 0.67em 0;
}

.meta {
	color: #D8D8D8;
	font-size: 10pt;
}

.meta a {
	color: #D8D8D8;
}

.meta a:hover {
	color: #D23C22;
}

.to-top {
	margin-top: 60px;
	font-size: 10pt;
	color: #D8D8D8;
	font-weight: bold;
	border: 1px solid #F6F6F6;
	padding: 8px 18px 8px 16px;
	display: block;
	border-radius: 10%;
	width: 20px;
	text-align: center;
}

a.top-top:before {
	content: '↑ ';
}

.to-top:hover {
	background-color: #FAFAFA;
	color: #D23C22;
}
