@font-face {
	font-family: 'Expressway Free';
	src: url('http://ff.static.1001fonts.net/e/x/expressway-free.regular.ttf');
}

* {
	font-family: 'Expressway Free', sans-serif;
}

body {
	padding: 40px 7%;
	font-size: 4ex;
}

footer {
	background-color: #222;
	position: absolute;
	display: block;
	width: 96%;
	margin: 80px -7% 0;
	padding: 2%;
	vertical-align: middle;
}

footer .left-box, footer .center-box, footer .right-box {
	display: block;
	font-size: 1.3ex;
}

footer a {
	color: #D8D8D8;
}

footer a:hover {
	color: #D23C22;
}

/*footer > div:last-child {
	width: 50%;
	margin-right: 0;
}*/

footer .left-box {
	text-align: left;
}

footer .center-box {
	text-align: center;
}

footer .stage-begin {
	background-color: white;
	height: 60px;
	width: 60px;
	padding: 15px;
	border-radius: 50%;
}

footer .right-box {
	text-align: right;
}

a {
	text-decoration: none;
	color: #D23C22;
}

li {
	line-height: 4ex;
}

a:hover {
	color: #A7301B;
}

img {
	max-width: 100%;
}

code {
	background-color: #f8f8f8;
	padding: 10px;
	outline: 1px solid #eaeaea;
	max-width: 100%;
}

code.block {
	display: block;
}

.home {

}

.home a {
	text-decoration: none;
	color: #D23C22;
	font-weight: bold;
	font-size: 2.4em;
	margin: 0.67em 0;
}

.meta {
	color: #D8D8D8;
	font-size: 2.5ex;
}

.meta a {
	color: #D8D8D8;
}

.meta a:hover {
	color: #D23C22;
}

.toc {
	display: block;
	padding: 0;
}

.toc li {
	line-height: 3ex;
	display: inline-block;
}

.toc li a {
	border: 1px solid #FCFCFC;
	padding: 10px 30px;
}

.toc li a:hover {
	border: 1px solid #F2F2F2;
	background-color: #F8F8F8;
}

.top-list {
	padding-left: 0;
}

.top-list * {
	line-height: 2ex;
}

.top-list li {
	display: inline-block;
	width: 128px;
	vertical-align: top;
	margin-right: 32px;
	margin-top: 60px;
	margin-bottom: 40px;
	border: 2px solid #F8F8F8;
	padding: 20px 30px;
	overflow: hidden;
}

.top-list h2 {
	margin: 0 0 20px;
	text-align: center;
	font-size: 5ex;
}

.top-list h2:after {
}

.top-list .user {
	display: block;
	line-height: 2ex;
	text-align: right;
	color: #888888;
	margin-top: 6px;
	font-size: 1ex;
}

.top-list .image {
	display: block;
}

.top-list .math {
	text-align: center;
	font-size: 20pt;
	display: block;
	color: #C3C3C3;
	margin-bottom: 10px;
}

.top-list .comments {
	background: url('../img/comment-icon.png') 28px 6px no-repeat;
	display: block;
	text-align: left;
	padding-left: 50px;
}

.top-list .censored {
	color: #F2F2F2;
	vertical-align: middle;
	outline: 1px solid #F8F8F8;
	height: 48px;
	width: 128px;
	line-height: 2ex;
	padding: 40px 0;
	text-align: center;
	font-size: 0.5em;
}

.top-list .up {
	font-size: 14pt;
	color: #5BB91C;
}

.top-list .up:before {
	content: '+';
}

.top-list .down {
	font-size: 14pt;
	color: #A7301B;
}

.top-list .down:before {
	content: '-';
}

.top-list .votes {
	font-size: 34pt;
	color: #888;
	display: block;
}

.image-toggle {
	display: block;
	margin-bottom: 60px;
}


.image-toggle-button {
	display: block;
	cursor: pointer;
	color: #888;
	margin-bottom: 30px;
	font-size: 1.5ex;
}

.thumbnail-halfpage {
	display:inline-block;
	width:49%;
	min-width:420px;
}

.thumbnail {
	max-width: 420px;
	max-height: 420px;
}

.thumbnail-box {
}


.thumbnail-hover-overlay {
	width: 420px;
	height: 230px;
	color: #FFF;
	background-color: #D23C22;
	position: absolute;
	z-index: 99999;
	text-align: center;
	vertical-align: middle;
	padding-top: 190px;
	/*left: -420px;*/
}

.prg-link-box {
	display: block;
	color: #D8D8D8;
	font-size: 1.5ex;
	margin: -30px 0 40px;
}

.prg-link {
	color: #D8D8D8;
	background: url('../img/pr0gramm-icon-15x15-grayed.png') left 16px no-repeat;
	padding: 10px 0 10px 23px;
	margin-left: 5px;
	position: relative;
}

.prg-link:hover {
	background-image: url('../img/pr0gramm-icon-15x15.png');
	color: #D23C22;
}

.bitcoin-donate {
	color: white;
}

.bitcoin-donate .stage-begin {
	margin: 0 auto;
}

.headerlink {
color: #d9d9d9;
margin: 0;
margin-left: -22px;
margin-right: 6px;
font-size: 20pt;
font-weight: normal;
}

.headerlink:hover {
color: #D23C22;
}

.date-entry {
	color: #C3C3C3;
	font-size: 1.5ex;
	margin-right: 12px;
}

.timeframe {
	font-size: 1.5ex;
	margin-left: 12px;
}