<footer>
	<div class="left-box">
		<a href="#">top</a>
	</div>
	
	<div class="bitcoin-donate center-box">
		<div style="font-size:16px;margin:0 auto;width:300px" class="blockchain-btn"
		data-address="1BmMRemMJ2mWS6Ppo92V2qEPxnWmH98vAe"
		data-shared="false">
			<div class="blockchain stage-begin">
				<img class="bitcoin-logo" src="/img/we-love-bitcoins.png"/>
			</div>
			<div class="blockchain stage-loading" style="text-align:center">
				<img src="https://blockchain.info//Resources/loading-large.gif"/>
			</div>
			<div class="blockchain stage-ready">
				<p align="center">
					Spendenadresse: <b>[[address]]</b>
				</p>
				<p align="center" class="qr-code"></p>
			</div>
			<div class="blockchain stage-paid">
				Spende in Höhe von <b>[[value]] BTC</b> erhalten. Danke!
			</div>
			<div class="blockchain stage-error">
				<font color="red">[[error]]</font>
			</div>
		</div>
	</div>
	
	<div class="right-box">
		<a href="LICENSE">unlizensiert</a>
	</div>
</footer>
<script type="text/javascript" src="https://blockchain.info//Resources/wallet/pay-now-button.js"></script>
