<header>
	<div class="home"><a href="/">pr0stats - pr0gramm.com Statistiken</a></div> 
	<p class="meta"><a href="/motivation.html">Motivation</a> | 
					<a href="/methodik.html">Methodik</a> | 
					<a href="/analysen/index.html">Analysen</a> | 
					auf <a class="prg-link" target="_blank" href="http://pr0gramm.com/user/pr0stats">pr0gramm</a> | 
					auf <a href="https://github.com/pr0stats">github</a> | 
					auf <a target="_blank" href="https://twitter.com/pr0stats">twitter</a></p>
</header>
